.container-fluid
  .row
    .header.purple-gradient
      =image_tag 'logo'
  .row
    .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
      .row
        %h3 Your Sensors
        .row
          -@sensors.each do |s|
            .col-xl-3.col-sm-4
              .tile
                .row
                  .col-xs-4
                    %i{class: s[:icon]}
                  .col-xs-8.text-center
                    .value=s[:value]
                    =s[:label]
      .row
        %h3 Your Devices
        .row
        -@devices.each do |d|
          .device{data: {id: d.applianceId}}
            .info-row
              .left
                %i.icon-lamp
                .active
              .middle
                .name=d.friendlyName
                .description=d.friendlyDescription
              .actions
                %label.switch
                  %input{type: "checkbox"}
                    .slider.round
                %i.icon-down-open.arrow
            -if d.deviceType != '0'
              .drawer
              -if d.deviceType == '1'
                %input.range-slider{type: "range", min: "30", max: "155", value: "5"}
